#container{
    width: 20%;
    height: 30%;
    border: 1px solid saddlebrown ;;
    border-radius: 10px;
    margin-top: 300px;
    background-color: wheat ;
}

#btn{
    margin: auto;
    background-color: brown;
    border-color: brown;
}
#name{
    text-align: center;
}