
.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width:20%;
    margin-bottom: 20px;
}
.btn-danger{
    margin-top: 20px;
    font-size:10px;
    width: 20%; 
    margin-bottom: 20px;
}
p{
    color:cyan;
}
